#bottom-panel-main {
    grid-column-start: main-column;
    grid-column-end: main-column;
    grid-row-start: main-row;
    grid-row-end: main-row;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#bottom-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    padding-bottom: 2%;
    color: #333;
    /* text-shadow: #11a3dd 0px 5px 10px; */
}

#contact-info-text {
    text-align: center;
    font-size: 150%;
    margin: 0px 8% 5% 8%;
    width: auto;
}

#heart {
    padding: 0px 3px;
}